* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    width: 420px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 0 0 5px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: black;
}

.wrapper .forgot-password{
    text-align: center;
    margin: -15px 0 15px;
}

.forgot-password a{
    color: black;
    text-decoration:  none;
    font-weight: 600;
}


.forgot-password a:hover{
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 5px;
    cursor: pointer;
    font-weight: 600;
}

.wrapper .register-link {
    text-align: center;
    margin-top: 20px;
}

.register-link a{
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

/* .register-btn {
    border-radius: 40px;
    text-align: center;
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    box-shadow: 0 0 5px;
    cursor: pointer;
    font-weight: 600;
} */

.register-btn a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    padding: 20px 45px 20px 20px;   
}

.register-btn {
    display: inline-block;
    border: none;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 40px;
    background: white;
    box-shadow: 0 0 5px;   
    font-weight: 600; 
    width: 100%;
    text-align: center;
}

    